<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="./black-dashboard-master/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./black-dashboard-master/assets/img/favicon.png">
    <title>Black Dashboard by Creative Tim</title>
    <!-- Fonts and icons-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../vendor/datepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="./main.css">
    <link rel="stylesheet" type="text/css" href="../vendor/font-awesome-4.7/css/font-awesome.min.css">
</head>

<body>
    <div class="page-wrapper bg-univers p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-body">
                    <h2 class="title">SALARY MANAGEMENT FORM</h2>
                    <form method="POST">
                        <div class="input-group"><input class="input--style-2" type="text" placeholder="Salary amount"
                                name="Salary"></div>
                        <div class="input-group"><input class="input--style-2" type="text" placeholder="Pay rates"
                                name="Payrates"></div>
                        <div class="input-group"><input class="input--style-2" type="text" placeholder="Tax" name="tax">
                        </div>
                        <div class="input-group">
                            <button class="btn btn--radius btn--green"type="button">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/select2/select2.min.js"></script>
    <script src="../vendor/datepicker/daterangepicker.js"></script>
    <script src="../vendor/datepicker/moment.min.js"></script>

</body>